html {
    background: url(img/space.jpg);
}

body {
    color: white;
    width: 1000px;
    margin: 25px auto;
}
.link {
    color: red;
}

.link-Pressed {
    color: white;
}

#body {
    background: rgba(255, 150, 0, 0.4);
    border-radius: 20px;
    padding: 5px;
}

#urls {
    border: 2px solid white;
    text-align:center;
    padding: 20px 20px;
    margin-bottom:20px;
}

h1 {
    text-align:center;
    font-family: monospace;
    letter-spacing: 10px;
    font-size: 40px;
    color: white;
}

h3 {
    text-align: center;
}

#marsimg {
    width: 1000px;
    clip-path: circle(310px);
}

p {
    margin-bottom: 0px;
    margin-top: 0px;
}

#didYouKnow {
    text-align:center;
}

#randFact {
    color:peru;
}

.quiz {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 50px;
}

input {
    margin-left:50px;
    width: 200px;
    height: 20px;
    border-color: white;
    border-width: 5px;
}

button {
    cursor:pointer;
    margin-top: 30px;
    margin-bottom:10px;
    margin-left: 50px;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    font-weight:bold;
}

.correct {
    border-color: rgb(0, 255, 0);
}

.incorrect {
    border-color: rgb(255, 0, 0);
} 

#result, #encouragement {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.text {
    padding: 30px 60px;
}

#img1 {
    width: 400px; 
    margin: 30px 60px;
    border: 10px solid white;
}